* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.main-container {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

#section-1 {
    background-color: pink;
}