* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/* navbar class styling */
.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar h1 {
    margin-right: auto;
    margin-left: 15px;
}

.navbar a {
    text-decoration: none;
    padding: 24px;
}

/* Sculptor's Haven navbar styling */
#sculptor {
    background-color: peru;
}

#sculptor h1 {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#sculptor a {
    color: blanchedalmond;
    font-weight: bold;
}

#sculptor a:hover {
    color: olive;
}

/* AngelEars navbar styling */
#angel {
    background-color: skyblue;
}

#angel h1 {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#angel a {
    color: #ffffff;
    font-weight: bold;
}

#angel a:hover {
    color: #28586b;
}

#angel-button {
    background-color: #28586b;
    border-radius: 36px;
    padding: 16px 24px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#angel-button:hover {
    background-color: #ffffff;
}

/* Tailored Spooks styling */
#promo {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    background-color: orangered;
    padding: .10vw;
}

/* top navbar */
#spooks {
    background-color: black;
    padding: 1vw;
}

#spooks h1 {
    color: #ffffff;
}

#spooks a {
    color: #ffffff;
    font-weight: bold;
}

#spooks a:hover {
    color: orange;
}

#spooks-button {
    background-color: orange;
    border-radius: 36px;
    padding: 16px 24px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#spooks-button:hover {
    background-color: #ffffff;
}

/* bottom navbar */
#spooks-bottom {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: #323232;
    /* background-color: #ffd992; */
    padding: 1.5vw 2.5vw 1.5vw 2vw;
}

#spooks-bottom a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

#spooks-bottom a:hover {
    color: #ffd992;
}

