* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #9C2B1A;
    color: white;
}

/* page layout/style */
#single-column {
    width: 1000px;
    margin: 48px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 84px;
    font-family: "industry-inc-detail";
    color: #D9A300;
    margin: 0px;
}

h2 {
    font-size: 50px;
    font-family: "industry-inc-stencil";
    color: #D9A300;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 18px;
}

#intro {
    margin-bottom: 80px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#intro h3 {
    margin-top: 10px;
}

#teams {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 80px 10px;
}

#teams img {
    width: 100%;
}

#details p {
    margin-top: 50px;
    font-style: italic;
}

#rsvp {
    margin-top: 40px;
}

#rsvp a {
    display: inline-block;
    margin: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 35px;
    border-radius: 40px;
    width: 220px;
    transition:
        background-color 0.4s,
        color 0.4s;
}

#rsvp #yes {
    color: #472824;
    background-color: #D9A300;
}

#rsvp #no {
    color: white;
    background-color: #733026;
}

#rsvp #yes:hover {
    color: #D9A300;
    background-color: #ffffff;
}

#rsvp #no:hover {
    color: #733026;
    background-color: #ffffff;
}


/* Media Queries */
@media screen and (min-width: 1030px) {
    #teams h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1029px) and (min-width: 881px) {
    #single-column {
        width: 880px;
        margin: 24px auto;
    }

    #teams {
        flex-direction: column;
    }

    #teams img {
        width: 50%;
    }

    #teams h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 880px) and (min-width: 621px) {
    #single-column {
        width: 600px;
        margin: 20px auto;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 46px;
    }

    #teams {
        flex-direction: column;
        margin: 20px 10px 40px 10px;
    }

    #teams img {
        width: 40%;
    }

    #teams h3 {
        font-size: 24px;
    }

    #rsvp a {
        margin-top: 5px;
    }
}

@media screen and (max-width: 620px) {
    #single-column {
        width: 450px;
        margin: 16px auto;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 24px;
    }

    #teams {
        flex-direction: column;
        margin: 10px 10px 20px 10px;
    }

    #teams img {
        width: 30%;
    }

    #teams h3 {
        font-size: 20px;
    }

    #rsvp a {
        margin-top: 5px;
    }
}