* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: calibri, sans-serif;
    background-color: #f8f1d3;
}


.port-lligat-sans-regular {
    font-family: "Port Lligat Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    background-image: url(../images/hero8.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}


/* navbar styling */
#navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff1a;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 175px;
}

#navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 24px;
    transition: 
        color 0.4s;
}

#navbar a:hover {
    color: #C42328;
}

#navbar #on-page {
    color: #C42328;
}

/* footer styling */
#footer {
    padding: 40px 12px 12px;
    background-color: #049A96;
    color: white;
    text-align: center;
}

#footer #part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Port Lligat Sans, sans-serif;
    font-size: 20px;
}

#footer a {
    text-decoration: none;
}

#footer-logo img {
    height: 35px;
    margin: 10px;
}


/* Home Page Styling */
/* hero styling */
#hero {
    height: 80vh;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero h1 {
    text-align: left;
    font-family: badaboom-pro, sans-serif;
    font-size: 72px;
    margin-top: 90px;
    margin-bottom: 10px;
}

#hero h3 {
    text-align: left;
    font-family: Port Lligat Sans, sans-serif;
    font-size: 40px;
    margin-top: 10px;
}

#hero a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    margin-top: 10px;
    color: black;
    background-color: #f5c939;
    border: 2px solid #f5c939;
    padding: 12px 24px;
    border-radius: 60px;
    width: 200px;
    transition: 
        background-color 0.4s,
        border 0.4s,
        color 0.4s;
}

#hero a:hover {
    color: rgb(255, 255, 255);
    background-color: #C42328;
    border: 2px solid #C42328;
}

/* cards styling */
#cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px;
    height: 100vh;
}

.cards h2 {
    font-family: Port Lligat Sans;
    font-size: 48px;
}

.cards a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    background-color: white;
    padding: 12px 24px;
    border-radius: 60px;
    width: 150px;
    transition: 
        background-color 0.4s,
        border 0.4s,
        color 0.4s;
}

#card1 {
    background-color: #1A793D;
    color: white;
    font-size: 21px;
}

#card1 a {
    color: #1A793D;
    background-color: white;
    border: 2px solid #1A793D;
}

#card1 a:hover {
    color: white;
    background-color: #1A793D;
    border: 2px solid white;
}

#card1 p,
#card4 p {
    margin-bottom: 3px;
    margin-top: 5px;
}

.review {
    background-color: #f5c939d5;
    font-size: 18px;
    color: black;
    padding: 40px 80px 40px 80px;
    visibility: visible;
    opacity: 1;
    transition: 
        visibility 0.6s,
        opacity 0.6s;
}

.quote {
    font-style: italic;
}

#card2 {
    background-image: url(../images/content2.jpg);
    background-size: cover;
    background-position: center;
}

#card3 {
    background-image: url(../images/content3.jpg);
    background-size: cover;
    background-position: center;
}

#card2:hover .review,
#card3:hover .review {
    visibility: hidden;
    opacity: 0;
    transition: 
        visibility 0.6s,
        opacity 0.6s;
}

#card4 {
    background-color: #C42328;
    color: white;
    font-size: 21px;
}

#card4 a {
    color: #C42328;
    background-color: white;
    border: 2px solid #C42328;
}

#card4 a:hover {
    color: white;
    background-color: #C42328;
    border: 2px solid white;
}


/* Menu Page Styling */
/* two columns #1 layout */
#two-columns1 {
    display: flex;
    margin: 50px;
}

/* featured dish styling */
#featured-img {
    flex: 1.5;
    padding: 10px;
}

#featured-img img {
    width: 100%;
    border-radius: 5px;
}

#featured {
    flex: 1;
    padding: 50px;
}

#featured h2 {
    font-family: Port Lligat Sans, sans-serif;
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#featured #color {
    color: #1A793D;
}

#featured p {
    font-size: 21px;
}

/* two columns #2 layout */
#two-columns2 {
    display: flex;
}

/* #v {
    color: #1A793D;
    font-weight: bold;
}

#gf {
    color: #C42328;
    font-weight: bold;
} */

/* sidebar styling */
#sidebar {
    flex: .3;
    background-color: #f5c939;
    border-radius: 5px;
    padding: 40px 50px;
    margin: 10px 40px 97px 60px;
}

#sidebar h1 {
    font-family: badaboom-pro, sans-serif;
    font-size: 52px;
}

#sidebar a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 21px;
    font-family: Port Lligat Sans, sans-serif;
    margin-top: 20px;
}

/* menu styling */
#menu {
    flex: 1;
    padding: 60px 40px 50px 20px;
}

.menu-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-cards h2 {
    font-family: Port Lligat Sans, sans-serif;
    font-size: 36px;
}

.menu-cards h3 {
    font-family: Port Lligat Sans, sans-serif;
}

.app-cards {
    background-color: #1A793D;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 30px;
    margin-bottom: 50px;
    color: white;    
}

#app1,
#app2,
#app3 {
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.entree-cards {
    background-color: #ED7C38;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 30px;
    margin-bottom: 50px;
}

#entree1,
#entree2,
#entree3 {
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.dessert-cards {
    background-color: #C42328;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    padding: 30px;
    margin-bottom: 50px;
    color: white;
}

#dessert1,
#dessert2,
#dessert3 {
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
}



/* Media Queries */
/* footer only */
@media screen and (max-width: 1040px) {
    #footer-logo img {
        display: none;
    }
}

/* tablet */
@media screen and (max-width: 1220px) {
    #hero h1 {
        background-color: #f7f7f7;
        color: #0e1111;
        padding: 30px;
        border-radius: 20px;
        font-size: 64px;
    }

    #hero h3 {
        background-color: #f7f7f7;
        color: #0e1111;
        padding: 20px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 901px) {
    #hero h1 {
        font-size: 60px;
    }

    .cards {
        padding: 40px;
        height: 80vh;
    }

    .cards h2 {
        font-size: 36px;
    }

    #card2 p,
    #card3 p {
        font-size: 14px;
    }

    #card2:hover .review,
    #card3:hover .review {
        visibility: visible;
        opacity: 1;
        transition: 
            visibility 0.6s,
            opacity 0.6s;
    }
}

@media screen and (max-width: 900px) and (min-width: 650px) {
    #hero {
        padding-left: 60px;
        padding-right: 60px;
    }

    #hero h1 {
        font-size: 52px;
    }

    .cards {
        padding: 40px;
        height: 60vh;
    }

    .cards h2 {
        font-size: 36px;
    }

    #cards-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "card1"
            "card2"
            "card4"
            "card3";
    }

    #card1 {
        grid-area: card1;
    }

    #card2 {
        grid-area: card2;
    }

    #card3 {
        grid-area: card3;
    }

    #card4 {
        grid-area: card4;
    }

    #card2 p,
    #card3 p {
        font-size: 16px;
    }

    #card2:hover .review,
    #card3:hover .review {
        visibility: visible;
        opacity: 1;
        transition: 
            visibility 0.6s,
            opacity 0.6s;
    }
}

@media screen and (max-width: 790px) and (min-width: 650px) {
    #hero {
        padding-left: 40px;
        padding-right: 40px;
    }

    #hero h1 {
        font-size: 44px;
    }
}

@media screen and (max-width: 650px) and (min-width: 400px) {
    #navbar {
        flex-direction: column;
    }

    #navbar #logo {
        margin-right: 0px;
    }

    #navbar a {
        padding: 10px;
    }
    
    #hero {
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
    }
    
    #hero h1 {
        text-align: center;
        margin: 20px;
        font-size: 40px;
    }

    #hero h3 {
        text-align: center;
        margin: 20px;
    }

    .cards {
        padding: 20px;
        height: 60vh;
    }

    .cards h2 {
        font-size: 36px;
    }

    #cards-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "card1"
            "card2"
            "card4"
            "card3";
    }

    #card1 {
        grid-area: card1;
    }

    #card2 {
        grid-area: card2;
    }

    #card3 {
        grid-area: card3;
    }

    #card4 {
        grid-area: card4;
    }

    #card2 p,
    #card3 p {
        font-size: 14px;
    }

    #card2:hover .review,
    #card3:hover .review {
        visibility: visible;
        opacity: 1;
        transition: 
            visibility 0.6s,
            opacity 0.6s;
    }
}

@media screen and (min-width: 500px) and (max-width: 480px) {
    #hero h1 {
        font-size: 30px;
    }
}