/* Drill 1 - Write your code solution below */
#d1-container-1{
    padding: 6.5%;
}

/* Drill 2 - Write your code solution below */
#d2-div-1 {
    padding: 9% 4.5%;;
}

/* Drill 3 - Write your code solution below */
#d3-div-2{
    padding: 4% 8%;
}
#d3-div-1,
#d3-div-3 {
    padding: 2%;
}

/* Drill 4 - Write your code solution below */
#d4-container-1 {
    padding: 5%;
}
#d4-div-1{
    padding-bottom: 5%; 
}
/* Drill 5 - Write your code solution below */
.d5-container{
    padding: 5%;
    text-align: center;
}
.d5-s {
    padding: 5%;
}
